@tailwind base;
@tailwiind components;
@tailwind utilities;
/* src/index.css o global.css */
html { color-scheme: dark; }          /* aplica a inputs, selects, etc. */
select, option {
  background-color: #111315;          /* tu gris oscuro */
  color: #e5e7eb;                     /* texto gris claro */
}

body {
  padding-top: 64px; /* altura de tu navbar (h-16 = 64px) */
}